@import 'tailwindcss';

@font-face {
  font-family: Now-Medium;
  src: url('/assets/fonts/Now-Medium.otf');
}

:root {
  /* =========================
     BRAND
  ========================= */
  --color-primary: #009fe3;
  --color-primary-foreground: #06176d;

  --color-secondary: #06176d;
  --color-secondary-foreground: #009fe3;

  --color-accent: #f9b233;
  --color-accent-foreground: #06176d;

  /* =========================
     NEUTRAL
  ========================= */
  --color-background: #ffffff;
  --color-foreground: #020617;

  --color-surface: #f8fafc;
  --color-surface-foreground: #020617;

  --color-muted: #d3d3d3;
  --color-muted-foreground: #64748b;

  --color-paragraph: #686868;

  /* =========================
     STATES
  ========================= */
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #dc2626;
  --color-info: #2563eb;

  /* =========================
     UI
  ========================= */
  --color-border: #e5e7eb;
  --color-border-muted: #f1f5f9;

  --color-ring: #0f172a;
  --color-overlay: rgba(0, 0, 0, 0.5);

  --color-disabled: #e5e7eb;
  --color-disabled-foreground: #9ca3af;
}

@theme {
  /* Typography  */
  --font-now: Now-Medium;

  /* =========================
     COLORS
  ========================= */
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-foreground);

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-surface: var(--color-surface);
  --color-surface-foreground: var(--color-surface-foreground);

  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);

  --color-paragraph: var(--color-paragraph);

  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
  --color-info: var(--color-info);

  --color-border: var(--color-border);
  --color-border-muted: var(--color-border-muted);
  --color-ring: var(--color-ring);
  --color-overlay: var(--color-overlay);

  --color-disabled: var(--color-disabled);
  --color-disabled-foreground: var(--color-disabled-foreground);

  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards)
    linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  animation: marquee-left linear infinite;
}

.animate-marquee-right {
  animation: marquee-right linear infinite;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gallery-final {
  grid-template-columns: repeat(3, 100vw);
  grid-template-rows: repeat(4, 49.5vh);
  gap: 1vh;
}
